/* BODY AND BACKGROUNDS */
body{
  width: 900px;
  height: 400px;
  background-image: url(../images/Background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Sigmar One', 'cursive';
}
.containerContainer{
    display: flex;
    align-items: center;
}
.avatarContainer{
  display: flex;
  justify-content: flex-start;
}
.storeContainer{
  display: flex;
  justify-content: flex-end;
}