/* BODY AND BACKGROUNDS */
body{
  font-size: 16px;
  background-image: url(../images/Background1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Sigmar One', 'cursive';

}

.avatarContainer{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}