/* BODY AND BACKGROUNDS */
body{
  background-image: url(../images/Background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Sigmar One', 'cursive';
}

.whereTo{
  padding-top: 6.5em;
    display: flex;
    justify-content: center;
}