
@media (prefers-reduced-motion: no-preference){

/* BODY AND BACKGROUNDS */
body{
  font-size: 16px;
	background-image: url(./images/tictac.png);
  font-family: 'Open Sans Condensed', 'sans-serif';
  letter-spacing: 5px;
}

}
/* DASHBOARD INFORMATION */



/* FOOTER AND CONTACT INFORMATION */

.footer{
  position: relative;
  top:2em;
  padding: 1em;
}
.footer a{
  text-decoration: none;
  color:#FFD3DA;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
  
/* BODY AND BACKGROUNDS */
body{
  font-size: 6px;
}
.workBg{
  top: 0; 
  padding-left: 1em; 
  min-width: 100%;
  min-height: 100%;
}
/* NAME AND TITLE AND BUTTONS */
header h1{
 display: flex;
 font-size: 4em;  
 justify-content: center;
 opacity: 0.8;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
  font-family: 'Open Sans Condensed', 'sans-serif';
  font-size: 1.8em;
  color:black;
  text-decoration: none;
}
.name{
  display: flex;
  align-self: center;
}
nav{
  display: none;
}
.header-title{
  font-size: 3em;
  text-align: left;
  top:1em;
  left: 0.1em;
}
.about{
  position: relative;
  display: flex;
  top:-30em;
}
.about img{
	margin-left: -30em;
  border: 0.1em solid black;
  margin-top: 52em;
	height: 50em;
	width: auto;
}
.about-content{
  left:2em;
}
.about-content p{
  font-size: 2.5em;
  font-family: 'Oswald';
  text-align: left;
  width: 450px;
}
.workBg{
  top: 2em;
  padding-left: 2em;
  min-width: 600px;
}
/* DASHBOARD INFORMATION */




/* FOOTER AND CONTACT INFORMATION */

.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}
